<table class="w3-table w3-card w3-tiny w3-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th class="w3-center">Versions</th>
    </tr>
  </thead>
  <tr *ngFor="let addon of addons">
    <td style="vertical-align: middle;">{{addon.name}}</td>
    <td class="w3-right-align" style="width:30%;max-width:50px;">
      <select class="w3-select w3-right-align" id="file" required>
        <option *ngFor="let vers of addon.latestFiles" [value]="vers" class="w3-left-align">{{vers.fileName}}
        </option>
      </select>
    </td>
  </tr>
</table>